@import url(bootstrap.min.css);
body {
  background: url(https://bit.ly/363tnZx) no-repeat center center/cover;
  height: 120vh;
}
.jumbotron {
  color: black;
  text-align: center;
  border-radius: 50%;
  background: chocolate;
  font-style: oblique;
}
form {
  width: 50%;
  margin: 0 auto;
}
input[type="text"],
input[type="number"] {
  display: block;
  margin-top: 20px;
  width: 100%;
}

input[type="radio"] {
  margin-top: 20px;
}
p {
  font-size: 30px;
}
#submit{
  background: blue;
  color: black;
  width: 20%;
  text-align: center;
  
}

}


